*{
  padding: 0;
  margin: 0;
  
}

.navbar{
  background-color: gray;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo{
  margin-left: 2px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding-bottom: 20px;
}











@media  screen and (max-width:780px) {
  .logo{
      /* display: flex; */
      position: absolute;
      top: 15px;
      left: 35px;
  }
  .nav-links{
      display: none;
  }

  .nav-links-mobile{
      position: absolute;
      display: block;
      list-style: none;
      background-color: gray;
      left: 0;
      top: 75px;
      transition: all 0.5s ease-out;
      width: 100%;
  }
  
.linksn{
      color: white;
      text-align: center;
      padding: 32px;
      width: 100%;
      transition: all 0.5s ease;
  }
  
  .about{
      border: none;
  }
  
  .mobile-menu-icon{
      display: block;
      position: absolute;
      font-size: 30px;
      color: white;
      background-color: gray;
      border: none;
      outline: none;
      top: 15px;
      right:25px;
}
}