

body {
    background: url("naman.jpg") no-repeat;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;

}

.button-89 {
    --b: 2px;
    --s: 0.35em;
    --color: #373b44;
    margin-bottom: 20px;
    padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b),
            #fff 90deg,
            var(--color) 0) var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
    transition: 0.3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #fff;
    outline-offset: 0.3em;
    font-size: 16px;
    border: 1px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: 0.05em;
}

.button-89:active {
    background: var(--color);
    color: #fff;
}

.button_1 {
    text-align: center;
    margin-top: 10%;
}

.navbar {
    z-index: 1;


}

@media screen and (min-width:500px) and (max-width: 768px) {
    .card {
        width: 60%;
        left: 17%;

    }
}

@media screen and (min-width:1450px) and (max-width: 2560px) {

    .navbar {

        font-size: 30px;


    }

    .card {

        width: 80%;
        left: 17%;

    }
}



@media screen and (min-width:990px) and (max-width: 1024px) {
    .navbar {


        font-size: 14px;



    }




}

@media screen and (min-width:1030px) and (max-width: 1317px) {
    .logo {


        padding-bottom: 20px;


    }

    .linksn {
        font-size: 90px;
    }



}

@media screen and (min-width:990px) and (max-width: 1013px) {
    .navbar {


        font-size: 13.5px;


    }




}


@media screen and (min-width:1449px) and (max-width: 1644px) {
    .navbar {


        font-size: 23px;



    }




}

@media screen and (min-width:1449px) and (max-width: 1644px) {
    .card {
        left: 30px;




    }




}

@media screen and (min-width:1013px) and (max-width: 1024px) {
    .navbar {


        font-size: 13px;


    }




}

@media screen and (min-width:250px) and (max-width: 320px) {
    .navbar {


        width: 104%;


    }





}


@media screen and (min-width:321px) and (max-width: 1150px) {
    .navbar {


        width: 100.7%;


    }





}


@media screen and (min-width:321px) and (max-width: 600px) {
    .navbar {


        width: 104%;


    }





}

@media screen and (min-width:600px) and (max-width: 1150px) {
    .navbar {


        width: 102%;


    }





}


@media screen and (width:768px) {
    .card {
        width: 60%;
        left: 17%;

    }





}



@media screen and (min-width:1317px) and (max-width: 1451px) {
    .logo {


        padding-bottom: 20px;


    }





}
